/* 结构 */

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* 字体 */

body {
    font-size: 16px;
    padding-top: 51px;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.content-bd .row {
    background: #ffffff;
    margin: 0px;
}


/* box */

body>.container-fluid {
    height: 100%;
    padding: 10px 0px;
    background: #ffffff;
}


/* nav */

.content-bd .navbar {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    margin: 0px;
    background: #ffffff;
}

.content-bd .navbar-header .logo {
    width: 70px;
    height: 50px;
    padding: 5px 10px;
    margin: 0 20px;
}

.navbar-header img {
    width: 100%;
    margin-left: 10px;
}

.QRInfo {
    position: relative;
}

.QRInfo .QR-content {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    border: 1px dashed #0000007c;
    width: 102px;
    height: 102px;
    /* overflow: hidden; */
}

.QRInfo img {
    width: 100px;
    height: 100px;
}

.QR-img {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-left: 1px solid #a5a3a3;
    border-top: 1px solid #a5a3a3;
    background: transparent;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    left: 56px;
}


/* 轮播 */


/* Carousel */

.myCarousel {
    margin-left: auto;
    margin-right: auto;
}


/* control */

.carousel {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-control.left_next,
.carousel-control.right_next {
    width: 10%;
    height: 12%;
    line-height: 2;
    position: absolute;
    top: 50%;
    margin-top: -2%;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%); */
    background-image: none!important;
}


/* .carousel-control.left_next {
    left: 4%;
}

.carousel-control.right_next {
    right: 4%;
} */


/* maps */

.maps {
    overflow: hidden;
}

.maps .panel-body {
    padding: 0px;
}

.form-control:focus {
    border: 1px solid #cccccc;
    box-shadow: none;
}

.tangram-suggestion-main {
    z-index: 2!important;
}


/*  实物展示 */


/* .Physical-display .panel {
    margin: 10px 0px;
} */

.Physical-display .panel-body,
.Physical-display p,
.Physical-display .panel {
    padding: 10px 0px;
    text-align: center;
}


/* 
.Physical-display p {
    margin: 10px 0px;
} */

.webRtc-tips,
.tips {
    width: 100%;
    height: 100%;
    text-align: center;
}

.webRtc-tips {
    border: 1px solid #ccc;
}

video {
    object-fit: cover;
}


/* footer */

.footer {
    font-size: 14px;
}


/* content */

@media screen and (max-width: 375px) {
    body {
        background-color: lightblue;
    }
    .left_next,
    .right_next {
        font-size: 18px;
    }
    .carousel-control.left_next,
    .carousel-control.right_next {
        width: 15%;
        height: 20%;
        line-height: 2;
        /* background-image: none; */
    }
    .allmap {
        min-width: 320px!important;
        height: 350px!important;
    }
    .footer {
        font-size: 12px;
    }
}


/* footer */

.Disclaimer {
    display: none;
}


/* 本条为CSS2部分，IE8及以下只支持本条 */

@media screen {
    body {
        /* color: #f00; */
    }
}


/* 下列为CSS3部分 */

@media screen and (min-width: 960px) {
    body {
        background: #ffffff;
    }
}

@media screen and (min-width: 1024px) {
    .test {
        display: block;
    }
    .left_next,
    .right_next {
        font-size: 40px;
    }
    .carousel-inner,
    .carousel-inner .item {
        height: 600px;
    }
    .carousel-inner .item img {
        height: 100%;
    }
}

@media screen and (width: 1024px) {
    .test2 {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    .navbar-right {
        margin-right: 0px;
    }
    .navbar-header img {
        margin-left: 0;
    }
    /* #myCarousel {
    width: 70%;
    margin-left: 15%;
  } */
}


/* 修改 pc navbar - header 下右边距、 轮播图左右不布局  */

@media screen and (max-width: 768px) {
    .navbar-right {
        margin-right: 0px;
    }
    .navbar-header img {
        margin-left: 0;
    }
    /* #myCarousel {
    width: 65%;
    margin-left: 17.5%;
  } */
}

@media screen and (max-width: 414px) {
    .navbar-header img {
        margin-left: 0;
    }
    body,
    .navbar-brand {
        /* font-size: 14px; */
    }
    .navbar-header .logo {
        margin: 0 10px;
    }
    /* #myCarousel {
    width: 65%;
    margin-left: 17.5%;
  } */
}


/* @media screen and (max-width: 320px) {
  body, .navbar-brand {
    font-size: 12px;
  }
   修改 iphone5 文字居中问题
  .navbar-header .logo {
    margin: 0 10px;
  }
} */


/*  修改 */